body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html {
  background: #476daa;
}

.tournament {
  text-align: center;
}
.main_title {
  text-align: center;
}

.picture {
  display: flex;
  justify-content: space-around;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}

.picture .pic_area {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100px;
}

.picture .pic_left,
.picture .pic_right {
  width: 40vw;
  height: 40vw;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.1s linear;
}

@media (any-hover: hover) {
.picture .pic_left:hover,
.picture .pic_right:hover {
  transform: scale(0.97);
}
}

